### Loading Data

In [343]:
import pandas as pd
from llama_index.core import VectorStoreIndex, SimpleDirectoryReader, Document
#Step 1: Load car data from CSV
df = pd.read_excel('merged_data_test_task.xlsx')

#Display the first 5 rows of the dataframe
df.head(5)

,Partner,Link for whatsapp,Brand,Model,"full price of car, euro",if 1-3 days\ euro per day,if 4-6 days\ euro per day,if 7-9 days\ euro per day,if 10-12 days\ euro per day,if 13-15 days\ euro per day,...,if 24-31 days\ euro per day,Additional info about car,Locations,Contact person,link,Fleet,Company details,Reiting of trusting,Reiting of speed,Reiting of quality of servise
0,Mr Good1,NaN,Range Rover,Vogue (new),120000.0,600,558.00,516.0,486.00,450.00,...,288.0,NaN,"Marbella, Spain",~mr.GOOD1,http://www.mrgood1.com,Range Rover vogue new\n RANGE rover vogue olde...,"Jogailos g. 7, 01116 Vilnius, Lithuania",1.75,1.75,1.5
1,Mr Good1,NaN,Range Rover,Vogue (older),120000.0,600,558.00,516.0,486.00,450.00,...,288.0,NaN,"Marbella, Spain",~mr.GOOD1,http://www.mrgood1.com,Range Rover vogue new\n RANGE rover vogue olde...,"Jogailos g. 7, 01116 Vilnius, Lithuania",1.75,1.75,1.5
2,Mr Good1,NaN,Audi,RS3,75000.0,375,348.75,322.5,303.75,281.25,...,180.0,NaN,"Marbella, Spain",~mr.GOOD1,http://www.mrgood1.com,Range Rover vogue new\n RANGE rover vogue olde...,"Jogailos g. 7, 01116 Vilnius, Lithuania",1.75,1.75,1.5
3,Mr Good1,NaN,Audi,RS6,173000.0,865,804.45,743.9,700.65,648.75,...,415.2,NaN,"Marbella, Spain",~mr.GOOD1,http://www.mrgood1.com,Range Rover vogue new\n RANGE rover vogue olde...,"Jogailos g. 7, 01116 Vilnius, Lithuania",1.75,1.75,1.5
4,Mr Good1,NaN,Mercedes,E Convertible,110000.0,550,511.50,473.0,445.50,412.50,...,264.0,NaN,"Marbella, Spain",~mr.GOOD1,http://www.mrgood1.com,Range Rover vogue new\n RANGE rover vogue olde...,"Jogailos g. 7, 01116 Vilnius, Lithuania",1.75,1.75,1.5

In [344]:
#Describe data in the DataFrame
df.describe()

,Link for whatsapp,"full price of car, euro",if 1-3 days\ euro per day,if 4-6 days\ euro per day,if 7-9 days\ euro per day,if 10-12 days\ euro per day,if 13-15 days\ euro per day,if 16-18 days\ euro per day,if 19-23 days \ euro per day,if 24-31 days\ euro per day,Additional info about car,Reiting of trusting,Reiting of speed,Reiting of quality of servise
count,0.0,1.755000e+03,1756.000000,1756.000000,1756.000000,1756.000000,1756.000000,1756.000000,1756.000000,1756.000000,0.0,114.000000,114.000000,114.000000
mean,NaN,1.753021e+05,876.011390,814.690592,753.369795,709.569226,657.008542,543.127062,499.326492,420.485467,NaN,1.563596,2.024123,1.543860
std,NaN,1.467165e+05,733.671683,682.314665,630.957648,594.274063,550.253762,454.876444,418.192859,352.162408,NaN,0.849786,1.022950,0.799783
min,NaN,4.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.500000,0.750000,0.500000
25%,NaN,8.000000e+04,400.000000,372.000000,344.000000,324.000000,300.000000,248.000000,228.000000,192.000000,NaN,0.500000,0.750000,0.500000
50%,NaN,1.220000e+05,610.000000,567.300000,524.600000,494.100000,457.500000,378.200000,347.700000,292.800000,NaN,1.500000,2.250000,1.750000
75%,NaN,2.500000e+05,1250.000000,1162.500000,1075.000000,1012.500000,937.500000,775.000000,712.500000,600.000000,NaN,2.500000,2.500000,2.250000
max,NaN,3.600000e+06,18000.000000,16740.000000,15480.000000,14580.000000,13500.000000,11160.000000,10260.000000,8640.000000,NaN,2.750000,3.750000,3.000000

### Data Preparation

In [345]:
#Drop blank columns
df.dropna(how='all', axis=1, inplace=True)
#Drop duplicated rows
df = df.drop_duplicates()

In [346]:
#Renaming table
df['Rent euro\per day'] =  df["if 1-3 days\ euro per day"]

#creating unified column with relewand data
df['json_text'] = df[["Brand", "Model", "Rent euro\per day", "Locations", "Contact person"]].apply(lambda x: x.to_json(), axis=1)

### Embeddings and Inexing

In [529]:
from llama_index.core import Document, VectorStoreIndex
from llama_index.embeddings.huggingface import HuggingFaceEmbedding
from llama_index.core import Settings

#Importing model for data embedding
embed_model = HuggingFaceEmbedding(
    model_name="BAAI/bge-small-en-v1.5"
)

#Preparing data - splitting it into a documents
documents = [Document(text = t[1]['json_text']) for t in df.iterrows()]
#creating Vector Index
vector_index = VectorStoreIndex.from_documents(documents, embed_model=embed_model,show_progress=True)

C:\Users\Asus\anaconda3\envs\Work\lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

Parsing nodes:   0%|          | 0/1748 [00:00<?, ?it/s]

Generating embeddings:   0%|          | 0/1748 [00:00<?, ?it/s]

In [474]:
from llama_index.core import Document, TreeIndex
#creating Tree Index
tree_index = TreeIndex.from_documents(documents, embed_model=embed_model,show_progress=True)

Parsing nodes:   0%|          | 0/1748 [00:00<?, ?it/s]

Generating summaries:   0%|          | 0/175 [00:00<?, ?it/s]

Generating summaries:   0%|          | 0/18 [00:00<?, ?it/s]

Generating summaries:   0%|          | 0/2 [00:00<?, ?it/s]

In [488]:
from llama_index.core import Document, KeywordTableIndex
#creating Table Index
table_index = KeywordTableIndex.from_documents(documents, embed_model=embed_model,show_progress=True)

Parsing nodes:   0%|          | 0/1748 [00:00<?, ?it/s]

Extracting keywords from nodes:   0%|          | 0/1748 [00:00<?, ?it/s]

In [497]:
#Testing different Indexes to check their performance

query_engine = table_index.as_query_engine(child_branch_factor=5)
response = query_engine.query("Give me a list of 3 cars with lowest price in both locations.")
print(response)

The best Index was Table Index because it pick up specific keys pretty well and extract the most relevand data among all of tested Indexes.

### Storing and Loading the Index

In [524]:
#Mounting 'storage' folder and saving data
table_index.storage_context.persist()

In [525]:
#Downloading saved data from storage
from llama_index.core import StorageContext, load_index_from_storage

storage_context = StorageContext.from_defaults(persist_dir="./storage")
index = load_index_from_storage(storage_context=storage_context)

### LLM Creation

In [86]:
import os

#Specifying key for OpenAI model
os.environ["OPENAI_API_KEY"]="your-key"

#Specifying parameters for langchain connection
os.environ["LANGCHAIN_TRACING_V2"]='true'
os.environ["LANGCHAIN_ENDPOINT"]="https://api.smith.langchain.com"
os.environ["LANGCHAIN_API_KEY"]="your-key"
os.environ["LANGCHAIN_PROJECT"]="langsmith-car-bot"

In [553]:
from llama_index.core.memory import ChatMemoryBuffer
from langchain_openai import ChatOpenAI

llm = ChatOpenAI()
#Creating memory for LLM model
memory = ChatMemoryBuffer.from_defaults(token_limit=2000)

#Specifying prompt
chat_engine = index.as_chat_engine(
    chat_mode="context",
    llm=llm,
    memory=memory,
    system_prompt=(
        "Given a conversation (between Human and Assistant) and a follow up question from Human, \
        answer the question using the data, return ALL data about relevand cars AS A TABLE. \
        If input irrelevant write that there are no cars with such inputs."
    ),
)

In [557]:
response = chat_engine.chat("List me SUV in Italy.")

In [559]:
print(response)

| Brand    | Model               | Rent euro\\per day | Locations            | Contact person      |
|----------|---------------------|--------------------|----------------------|---------------------|
| Mercedes | GLE400 SUV          | 700                | Roma, Italy          | Corry Lacopo       |
| Mercedes | GLE 350de Automatic 4Matic | 450         | Roma, Italy          | Gabriele           |

In [551]:
#Clearing all history
chat_engine.reset()